<mat-card *ngIf = "!(authService.user | async)">
    <!-- במידה והמשתמש לא מחובר נגיד לו להתחבר כדי לראות את האייטמס -->
  <h1 style="text-align: center;">Please <a routerLink = "/login">login</a> to see your list of items</h1>
</mat-card>

<mat-card *ngIf="(authService.user | async)">
    <mat-card-content>
        <br>
        <mat-card-subtitle class="sub2">
        Your current items:
        </mat-card-subtitle>
        <item *ngFor = "let item of items"
                [data] = "item">
        </item>
        
    </mat-card-content>

</mat-card>