
<li (mouseenter) = "showButton()"
(mouseleave) = "hideButton()"
style="list-style-type:none">
<mat-checkbox
  [(ngModel)]="stock"
  (change) = "checkChange()">
  <!-- במידה ויש שינוי במצב זאת אומרת מטרו לפולס או ההפך הוא קורא לפונקציה הזו -->
</mat-checkbox>  
<span> {{ name }} - {{ price }}</span>
<!--שאלה 3 בגלל שזו לולאה זה יראה את כולם בתוך נקודות -->

<mat-form-field *ngIf = "showEditField">
    <input [(ngModel)] = "text" matInput >
</mat-form-field>       

<button mat-raised-button
        (click) = "show2Buttons()"
        *ngIf = "showTheButton">
        <span *ngIf = "!deleteBut">Delete</span>
        <span *ngIf = "deleteBut" (click) = "deleteItem()">Click to Delete</span></button>

<!-- <button mat-raised-button
        *ngIf = "deleteBut"
        (click) = "deleteItem()">Click to Delete</button> -->

<button mat-raised-button
        *ngIf = "deleteBut"
        (click) = "cancel()">Cancel</button> 

</li>