<mat-card>
  <mat-card-content>
    <p *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</p>
    <p *ngIf="!(authService.user | async)">Please login to see your items</p>
  </mat-card-content>
</mat-card>